@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  @apply dark:text-slate-50 dark:bg-slate-800 min-h-screen w-full overflow-x-hidden overflow-y-auto p-4;
}

button {
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
input:focus-visible {
  outline: none;
}

img {
  @apply rounded;
}

@layer base {
  a {
    color: inherit;
    text-decoration: none;
  }

  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }
}

@keyframes yAxis {
  50% {
    transform: translateY(90vh);
  }
}

@keyframes xAxis {
  50% {
    transform: translateX(90vw);
  }
}

.dot {
  opacity: 0.1;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: xAxis 15.5s infinite cubic-bezier(0.79, 0.03, 0.23, 0.93);
}

.dot::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('https://cdn4.iconfinder.com/data/icons/redis-2/1451/Untitled-2-512.png');
  background-size: contain;
  animation: yAxis 25.5s infinite cubic-bezier(0.5, 0.79, 0.76, 0.43);
}
